@model TestFinal.Models.ResetUserPasswordViewModel
@{
    ViewBag.Title = "Reset User Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-offset-2 col-md-8">
        <br />
        <div>
            @*class="" style="background-color: #ffffff; padding: 20px; border-radius: 20px; box-shadow: 0px 0px 5px;">*@
            @using (Html.BeginForm("ResetUserPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", area = "" }))
            {
                @Html.AntiForgeryToken()
                <h4>Resetovanje lozinke </h4>
                <hr />
                <div class="form-group" style="margin-left:-2%">
                    @Html.LabelFor(m => m.Username, "Korisničko ime", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", value = ViewBag.Username, @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserId, "Korisnik ID", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", value = ViewBag.UserId, @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, "Lozinka", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Nova lozinka" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Resetuj lozinku" id="resetuj" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<style type="text/css">

    body {
        color: #000;
    }

    #resetuj {
        display: block;
        background-color: #fff;
        color: #3B5998;
        font-weight: bold;
        border-radius: 30px;
        border-width: 1.5px;
        border-color: #3B5998;
        margin-top: -5px;
        height: 30px;
        width: 160px;
    }
    .dugmeE {
        display: block;
        background-color: #fff;
        color: #3B5998;
        font-weight: bold;
        border-radius: 30px;
        border-width: 1.5px;
        border-color: #3B5998;
        margin-top: -5px;
        height: 30px;
        width: 100px;
    }


        .dugmeE:hover {
            color: #1a3a7e;
            border-color: #1a3a7e;
        }


    #resetuj:hover {
        color: #1a3a7e;
        border-color: #1a3a7e;
    }

    hr {
        border-color: #3B5998;
    }
</style>
