@model IEnumerable<TestFinal.Models.Kontakt>
@{
    ViewBag.Title = "Index";
}
<h2 style="color: #1a3a7e">
    <b> Zaposleni - @ViewBag.Pom </b>
    <button type="button" onclick="location.href='@Url.Action("Create", "Kontakt", new { id = ViewBag.Id })'" id="dugme" class="btn btn-default">Dodaj novog</button>
</h2>
<hr />
<table class="table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RadnoMesto)
        </th>
        <th>Telefoni</th>
        <th>E-mail</th>
        <th>
            Opcije
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RadnoMesto)
            </td>
            <td>
                @Html.ActionLink("Izlistaj", "Index", "KontaktTelefons", new { id = item.IDOsoba }, null)
            </td>
            <td>
                @Html.ActionLink("Prikaži", "Index", "KontaktMail", new { id = item.IDOsoba }, null)
            </td>
            <td>

                <a href="@Url.Action("Edit", "Kontakt",  new { id = item.IDOsoba })" class="ikonica" style="font-size: 18px;">
                    <i class="fa fa-pencil-square-o"></i>
                </a>

                <a href="@Url.Action("Details", "Kontakt",   new { id = item.IDOsoba })" class="ikonica" style="font-size: 18px;">
                    <i class="fa fa-eye"></i>
                </a>
                <a href="@Url.Action("Delete", "Kontakt",  new { id = item.IDOsoba })" class="ikonica" style="font-size: 18px;">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
    }
</table>
<div>
    <button type="button" onclick="location.href='@Url.Action("Index", "GlavnaTabela",  new { id = ViewBag.Id }, null)'" class="btn btn-default" id="dugmeS">Nazad</button>
</div>

<style type="text/css">


    body {
        color: #000;
    }


    table {
        background-color: #fff;
        border-radius: 15px;
        color: grey;
    }



    th {
        color: #000;
    }

    tr:hover {
        color: #000;
    }

    a {
        margin-left: 15px;
        color: #3B5998;
        font-weight: bold;
    }

        a:hover {
            color: #1a3a7e;
        }

    #dugme {
        display: inline-block;
        float: right;
        background-color: #fff;
        color: #3B5998;
        font-weight: bold;
        border-radius: 30px;
        border-width: 1.5px;
        border-color: #3B5998;
        margin-top: -5px;
    }

        #dugme:hover {
            color: #1a3a7e;
            border-color: #1a3a7e;
        }

    #dugmeS {
        display: inline-block;
        background-color: #fff;
        color: #3B5998;
        font-weight: bold;
        border-radius: 30px;
        border-width: 1.5px;
        border-color: #3B5998
    }

        #dugmeS:hover {
            color: #1a3a7e;
            border-color: #1a3a7e;
        }

    hr {
        border-color: #3B5998;
    }
</style>